body{
    max-width: 100%;
    background-color: white;
     
}
.panner{
    width: 100%;
    height: 130vh;
    background-image: url("../images/promo-1.jpg");
    background-size: cover;
    border-radius: 2px 2px 200px 1px;
    background-color: tomato;
}
.lpanner{
    width: 46%;
    height: 130vh;
    border-radius: 2px 2px 200px 1px;
    border: 1px solid #0E4A7E;
    background-color: #0E4A7E;
}
header{
    color: #181818;
    position: absolute;
    width: 99%; 
     
}
.container{
    background-color: #ccb892;
    font-family: "Montserrat",
    Arial,
    Helvetica,
    sans-serif; 
}
.nav{
    padding: 10px;  
}
.nav a{
    display: inline-block;
}
.nav-link{
    color: black;
}
.nav-item {
    font-size: 17px;
    font-weight: bold;
}
.header-right{
    display: flex;
    box-sizing: border-box;
}
.icon-title{
    display: inline-block;
    line-height: inherit;
    }
.icons{
   padding: 23px;
   display: inline-block;
   border-right: 1px solid gray;

}
.icons i{ 
    color: #0E4A7E;
    width: 20px;
    margin-left: 10px;   
}
.right-icons{
      padding: 23px;
      display: inline-block;
}
.right-icons i {
    color:#0E4A7E;
    width: 20px;
    margin-left: 10px;
}
.right-icons i:hover{
    color: white; 
}

/* banner left content========================== */

.display {
   font-weight: bold;
   font-size: 50px;
   color:#ccb892;
   line-height: 10px;
}
.display1 {
     font-weight: bold;
     font-size: 50px;
}
.lcontent{
    color: white;
    margin-top: 200px;
    margin-left: 140px;
    width: 400px;
}
.lcontent p{
    size: 20px;
    color: white;
}
.cotbtn{
    background-color: #ccb892;
    color: #191919;
    box-shadow: 0 -2px 0 0 rgba(24, 24, 0, .15) inset;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    width: 180px;
    border: none;
}
.cotbtn:hover {
    background-color: #ccb892;
    color: #191919;
    margin-top: 28px;
    box-shadow: 0 -3px 0 0 rgba(24, 24, 24, .25) inset,
    0 3px 10px rgba(0, 0, 0, 0.3);
    }
/* logo========= */
.logo img{
    width: auto;
    height: 140px;
    margin-left: 100px;
}
/* ===================== */
.container1{
    margin-top: 80px;
    background-color: white;
}
.rconsult{
background-color: white;
margin-top: 150px;
padding-left: 30px;
 
}
.lconsult{
    background-color: white;
    padding-bottom: 60px;
    
    
}
.lconsult img {
    width: 750px;
    background-color: white;
}
.displaye {
    font-weight: bold;
    font-size: 50px;
    color: #0E4A7E;
}

/* second section======================== */
.container2{
    width: 100%;
    height: 50vh;
   
}
.bus-section { 
    margin-bottom: 50px;
    margin: auto 0;
     width: -20px;
    display: inline-block; 
    text-align: center;
    box-sizing: border-box;   
}

.bus-content h1{
    font-weight:bolder;
    font-size: 30px;
    text-align: start;
    display: inline-block;
}
.bus-section i{
    background-color:#ccb892;
    border-radius: 50%;
    padding: 20px;
    font-size: 40px;
    display: inline-block;
}
.bus-contents
{
    margin-top: 30px;
    font-weight: 600;
  
}
.bus-link{
    margin-top: 50px;
}
.bus-link span {
    text-decoration: none;
}
.bus-link span:hover{
    text-decoration: none;
}
.order1 span{
     
    width: 20px;
}

/* section3======================= */
.lgrowth {
     
}
.lgrowth img{
    width: 750px;
}
.rgrowth {
    padding-top: 190px;
     
}
.displaye {
    font-weight: bold;
    font-size: 50px;
    color: #0E4A7E;
}



.container4{
    width: 100%;
margin:30px auto;
    background-color: #0E4A7E;
}
.b-icons img{
width:200px;
margin: 50px auto;
}
/* ======================================== */

.container-last{
   background-color: #0E4A7E;
   width: 100%;
}
.sec-last{
 
}
 
.fcol-1{
    color: white;
    padding: 50px;

}
.fcol-1 h1{
    color: #ccb892;   
    font-size: 30px;
    font-weight: bold;
}
.fcol-3 {
    color: white;
    padding: 80px;
}
.fcol-1 i{
   font-size: 30px;
background-color: #ccb892;
padding: 10px;
border-radius: 50%;
}

/* footer ===================== */
footer{
    background-color: lightgray;
    
}
footer p{
padding: 10px;
text-align: center;
margin-top: 10px;
}